@charset "utf-8";

/* 공통 css */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

.cf:after {
  content: "";
  display: block;
  clear: both;
}

ol,
ul {
  text-decoration: none;
  list-style: none;
}

#header {
  width: 100%;
  height: 186px;
}

/* header_top */
#header_top {
  width: 100%;
  height: 36px;
  background-color: #eed1d5;
}

#header_top #gnb {
  width: 250px;
  height: 36px;
  float: right;
  margin-top: 5px;
  /* background-color: #853e7a; */
  list-style: none;
  padding: 0;
}

#header_top #gnb li {
  float: left;
  width: 60px;
}

#header_top #gnb li a {
  display: block;
  padding: 5px 6px;
  font-size: 12px;
  text-decoration: none;
  color: #211d1d;
}

.material-symbols-outlined {
  color: #211d1d;
}

/* header_bottom */

#header_bottom {
  width: 100%;
  height: 150px;
  background-color: #dbb3b3;
}

#header_bottom nav {
  width: 1252px;
  height: 64px;
  /*     background-color: #155223; */
  margin: 0 auto;
  position: relative;
  top: 50px;
  left: 0;
  z-index: 999;
}

#header_bottom nav #logo {
  width: 168px;
  height: 64px;
  /* background-color: #da5c5c; */
  float: left;
}

#header_bottom nav #logo h1 {
  line-height: 64px;
  padding: 0;
  color: #853e7a;
  font-size: 50px;
  font-weight: 800;
  font-family: "나눔 고딕", 돋움;
  text-align: center;
}

#header_bottom nav #navwrap {
  float: right;
  width: 1000px;
  height: 64px;
  /*     background-color: #e4dbd2; */
  /* position: relative; */
}

#header_bottom > nav > #navwrap > ul {
  width: 770px;
  height: 64px;
  /*     background-color: aqua; */
  margin-left: -20px;
}

/* 메인메뉴 */

#header_bottom > nav > #navwrap > ul > li {
  height: 64px;
  float: left;
  text-align: center;
  position: relative;
}

#header_bottom > nav > #navwrap > ul > li > a {
  display: block;
  height: 64px;
  line-height: 64px;
  color: #fff;
  text-decoration: none;
  font-family: "맑은 고딕", 돋움, sans-serif;
  font-size: 12pt;
  font-weight: 400;
  padding: 0 20px;
  /*  background-color: yellow; */
}
#header_bottom > nav > #navwrap > ul > li > a:hover {
  color: #853e7a;
}

/* 서브메뉴 */

#header_bottom > nav > #navwrap > ul > li > ul {
  position: absolute;
  top: 100px;
  left: 0%;
  width: 100px;
  height: 0px;
  overflow: hidden;
  transition: height 0.4s;
}

#header_bottom > nav > #navwrap > ul > li:nth-child(1) > ul {
  position: absolute;
  top: 100px;
  left: 10px;
}
#header_bottom > nav > #navwrap > ul > li:nth-child(3) > ul {
  position: absolute;
  top: 100px;
  left: -12px;
}
#header_bottom > nav > #navwrap > ul > li:nth-child(4) > ul {
  position: absolute;
  top: 100px;
  left: -10px;
}
#header_bottom > nav > #navwrap > ul > li:nth-child(6) > ul {
  position: absolute;
  top: 100px;
  left: 11px;
}
#header_bottom > nav > #navwrap > ul > li:nth-child(7) > ul {
  position: absolute;
  top: 100px;
  left: 1px;
}

#header_bottom > nav > #navwrap > ul > li:hover > ul {
  height: 260px;
}

#header_bottom > nav > #navwrap > ul > li > ul > li > a {
  display: block;
  font-size: 11pt;
  text-decoration: none;
  color: #fff;
  padding: 10px 10px;
  text-align: center;
}

#header_bottom > nav > #navwrap > ul > li > ul > li > a:hover {
  color: #853e7a;
  text-decoration: underline;
  z-index: 1;
}

.sub_shadow {
  position: absolute;
  left: 0;
  top: 186px;
  width: 100%;
  height: 0;
  overflow: hidden;
  background-color: #999;
  opacity: 0.3;
  transition: height 0.4s;
}

#header_bottom > nav:hover + .sub_shadow {
  height: 300px;
}

/* 검색창부분 */

#header_bottom nav #searchwrap {
  width: 200px;
  height: 20px;
  float: right;
  position: relative;
  top: -46px;
  right: 10px;
  background-color: #fff;
  padding: 5px 10px 5px 5px;
  border-radius: 1.5em;
}
#header_bottom nav #searchwrap {
  text-align: center;
}
#searchwrap ul li {
  color: #d9d9d9;
}
#searchwrap li .material-symbols-outlined {
  color: #010101;
  position: absolute;
  right: 10px;
  top: 4px;
}
/* header영역 끝 */

/* banner영역시작 */

/* 메인배너 */
#banner {
  width: 100%;
  height: 620px;
  background-color: #e8ded5;
  background: url(../Images/mainbannerImg.png);
}

#bannerwrap {
  width: 1200px;
  margin: 0 auto;
  height: 620px;
  background: url(../Images/mb.png) no-repeat;
}
/*  

.material-symbols-outlined {
  color: #000;
  font-weight: bold;
  width: 30px;
  height: 30px;
}
#R_direction{
    float: left;
    position: absolute;
    left: 0;
    top: 0;
}
#L_direction{
    float: right;
    position: absolute;
    right: 0;
    top: 0;
}

#Banner_Title h2{
    text-align: center;
    position:relative;
    left: 260px;
    top: -260px;
    width: 360px;
    height: 60px;
    font-size: 24pt;
    letter-spacing: -3px;
    color: #231e1e;
    font-family: "맑은 고딕",돋움;
}   

#banner #Banner_Title p{
    text-align: center;
    position: absolute;
    bottom: -60px;
    left: 210px;
    width: 500px;
    font-family: "맑은 고딕",돋움;
    color: #231e1e;
    letter-spacing: -1px;
    font-size: 14pt;
}

#banner #info{
   margin-top: -200px;
   margin-left: -60%;  
   text-align: center;
    
}
#banner #info ul li{
    display: inline-block;
    width: 126px;
    height: 36px;
    background-color: #f7f2ee;
    border: 1px solid #e4dbd2;
    border-radius: 30px;
    cursor: pointer;
}

#banner #info ul li a{
    display: block;
    padding-top: 8px;
    color: #8f8b89;
    text-align: center;
    font-size: 13px;
    text-decoration: none;
}

#banner #info ul li:hover, 
#banner #info ul li:hover a {
    background-color: #e4dbd2;
    color: #fff;
    border-radius: 30px;
}
 */

/* Section1 부분 */

#section {
  width: 1300px;
  height: 380px;
  margin: 0 auto;
  margin-top: 154px;
  background: #853e7a;
}

#section > ul > li {
  float: left;
}
#section > ul > li > a {
  display: block;
  padding: 10px;
  text-align: center;
}

/* Section2 부분 */
